.place__url-heading {
    font-size: 12px;
    line-height: 170%;
    margin: 0;
    letter-spacing: 00.2em;
    color: #AAAAAA;
    padding-bottom: 12px;
}

@media screen and (mx-width: 768px) {
    .place__url-heading {
        line-height: 100%;
    }
}

@media screen and (mx-width: 320px) {
    .place__url-heading {
        line-height: 100%;
    }
}