.place__image {
    max-width: 460px;
    margin: 0;
    padding-top: 48px;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 560px) {
    .place__image {
        max-width: 50vw;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
    }
}
