.header {
    max-width: calc(100% - 100px * 2);
    display: flex;
    margin: 0 auto;
    padding-top: 34px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding-top: 20px;
    }
}