.footer__link {
    font-size: 16px;
    line-height: 112%;
    align-self: center;
    text-decoration: none;
    color: white;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 473px) {
    .footer__link {
        align-self: auto;
        line-height: 100%;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
    }
    
}