.root {
    font-family: Inter, sans-serif;
    background-color: #2A2C2F;
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}