.lead__caption {
    margin: 0;
    padding-top: 8px;
    color: #FFF;
    font-size: 10px;
    line-height: 140%;
    align-self: baseline;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}