.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0 auto;
    max-width: 656px;
    padding-top: 283px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 233px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 153px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        max-width: 288px;
        padding-top: 51px;
    }
}