.place {
    display: grid;
    grid-template-columns: 460px minmax(484px);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "title website"
    "image description";
    gap: 0 40px;
    margin: 0;
    padding-top: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px minmax(456px);
        gap: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px minmax(352px);
        gap: 0 28px;
        padding-top: 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: minmax(320px);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph"
        "paragraph-two"
        "paragraph-three";
        padding: 48px 0 0;
        gap: 0;
        margin: 0 auto;
    }
}